extensions:
	http: Nette\Bridges\HttpDI\HttpExtension
	session: Nette\Bridges\HttpDI\SessionExtension

services:
	# storages
	auth.storage.session: Orisai\Auth\Bridge\NetteHttp\SessionLoginStorage
	auth.storage.array: Orisai\Auth\Authentication\ArrayLoginStorage

	# policies
	policy.article.edit: Tests\Orisai\Auth\Doubles\ArticleEditPolicy
	policy.article.edit.owned: Tests\Orisai\Auth\Doubles\ArticleEditOwnedPolicy

	# policies manager
	auth.policyManager:
		factory: Orisai\Auth\Bridge\NetteDI\LazyPolicyManager
		arguments:
			serviceMap:
				article.edit: policy.article.edit
				article.edit.owned: policy.article.edit.owned

	# front firewall
	auth.front.dataBuilder:
		factory: Orisai\Auth\Authorization\AuthorizationDataBuilder
		setup:
			- addRole(editor)
			- addPrivilege(article.edit.all)
			- addPrivilege(article.edit.owned)
			- allow(editor, article)
	auth.front.authorizer:
		factory: Orisai\Auth\Authorization\PrivilegeAuthorizer
		arguments:
			data: @auth.front.dataBuilder::build()
	auth.front.renewer: Tests\Orisai\Auth\Doubles\AlwaysPassIdentityRenewer
	auth.front.firewall:
		factory: Tests\Orisai\Auth\Doubles\TestingFirewall
		arguments:
			storage: @auth.storage.session
			renewer: @auth.front.renewer
			authorizer: @auth.front.authorizer
			namespace: front

	# admin firewall
	auth.admin.dataBuilder: Orisai\Auth\Authorization\AuthorizationDataBuilder
	auth.admin.authorizer:
		factory: Orisai\Auth\Authorization\PrivilegeAuthorizer
		arguments:
			data: @auth.admin.dataBuilder::build()
	auth.admin.renewer: Tests\Orisai\Auth\Doubles\AlwaysPassIdentityRenewer
	auth.admin.firewall:
		factory: Tests\Orisai\Auth\Doubles\TestingFirewall
		arguments:
			storage: @auth.storage.session
			renewer: @auth.admin.renewer
			authorizer: @auth.admin.authorizer
			namespace: admin

	# api firewall
	auth.api.dataBuilder: Orisai\Auth\Authorization\AuthorizationDataBuilder
	auth.api.authorizerCreator: Tests\Orisai\Auth\Doubles\PrivilegeAuthorizerCreator
	auth.api.authorizer: @auth.api.authorizerCreator::create(builder: @auth.api.dataBuilder)
	auth.api.renewer: Tests\Orisai\Auth\Doubles\AlwaysPassIdentityRenewer
	auth.api.firewall:
		factory: Tests\Orisai\Auth\Doubles\TestingFirewall
		arguments:
			storage: @auth.storage.array
			renewer: @auth.api.renewer
			authorizer: @auth.api.authorizer
			namespace: api
