includes:
	- ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- phpstan.baseline.neon

parameters:
	phpVersion: 70400
	level: 8
	tmpDir: ../var/tools/PHPStan
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.php

	checkBenevolentUnionTypes: true
	checkMissingCallableSignature: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true

	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- Orisai\Exceptions\Check\CheckedException

	ignoreErrors:
		# Since php 7.4 password_hash cannot return false
		# https://github.com/php/php-src/blob/901417f0ae02afc8bef904818edaf2b2db8f6b58/ext/standard/password.c#L655
		-
			message: '#^Method (.+)PasswordHasher\:\:hash\(\) should return string but returns string\|false\.$#'
			paths:
				- ../src/Passwords/Argon2PasswordHasher.php
				- ../src/Passwords/BcryptPasswordHasher.php

		# Should not be possible to get incorrect instance via firewall api
		-
			message: '#^Method (.+)BaseFirewall\:\:getIdentity\(\) should return I of (.+)Identity but returns (.+)Identity\.$#'
			path: ../src/Authentication/BaseFirewall.php

		# It is checked whether interface is nullable
		-
			message: '#^Parameter \#1 \$identity of method (.+)Policy(.+)\:\:isAllowed\(\) expects (.+)Identity, (.+)Identity\|null given\.#'
			path: ../src/Authorization/PrivilegeAuthorizer.php
			count: 1
		-
			message: '#^Parameter \#2 \$requirements of method (.+)Policy(.+)\:\:isAllowed\(\) expects object, object\|null given\.#'
			path: ../src/Authorization/PrivilegeAuthorizer.php
			count: 1

		# Policy manager does not work with specific Policy, cannot specify type
		-
			message: '#^(.+)generic interface Orisai\\Auth\\Authorization\\Policy(.+)$#'
			paths:
				- ../src/Authorization/PolicyManager.php
				- ../src/Authorization/SimplePolicyManager.php

		# Intentional check
		-
			message: '#^Instanceof between (.+)NoRequirements and (.+)NoRequirements will always evaluate to true\.$#'
			path: ../tests/Doubles/NoRequirementsPolicy.php
			count: 1

		# Variable value is incremented in callback by reference
		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with (1|2|3) and (0|1|\*NEVER\*) will always evaluate to (true|false)\.$#'
			path: ../tests/Unit/Authentication/BaseFirewallTest.php
			count: 4

		# Who cares
		- '#^(.+)DateTimeImmutable\|false(.+)$#'
