includes:
	- phpstan.base.neon

parameters:
	level: 7
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

	scanDirectories:
		- ../src

	ignoreErrors:
		# Intentional check
		- message: '#^Instanceof between (.+)NoRequirements and (.+)NoRequirements will always evaluate to true\.$#'
		  path: ../tests/Doubles/NoRequirementsPolicy.php
		  count: 1

		# Variable value is incremented in callback by reference
		- message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with (1|2|3) and (0|1|\*NEVER\*) will always evaluate to (true|false)\.$#'
		  path: ../tests/Unit/Authentication/BaseFirewallTest.php
		  count: 4
