parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$id of class Orisai\\\\TranslationContracts\\\\TranslatableMessage constructor expects literal\\-string, mixed given\\.$#"
			count: 1
			path: ../src/Authentication/Data/ExpiredLogin.php
